@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome service members! This site is designed to give you all the opportunity to give your honest opinions on the many bases you may have lived on and visited. All posts remain anonymous through the use of
    user names so please feel free to be as honest as possible! Once you have registered you will create a profile about yourself that includes branch, rank, job, and age. You can then add information pertaining to
    the bases you have been to including the name of the base, the base's city and the base's state. Once you have created a profile and a base or multiples of each, you can rate that base. The bases are rated on
    housing, food, activites on the base and surrounding town, and training sites. There is also a place to add any comments you'd like your battle buddies to read. All posts you make can be edited and deleted 
    at any time and only the person who created them has access to this ability.</p>
