@{
    ViewBag.Title = "Contact";
}
<div id="contact">

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lauren E Kucera<br />
    Brazil, IN 47834<br />
    <abbr title="Phone">P:</abbr>
    630-441-6423<br/>
    <abbr title="Email">E:</abbr>
    lekucera94@gmail.com
</address>

<address>
    <strong>Portfolio:</strong>   <a href="https://lkucera94.github.io">lkucera94.github.io</a><br />
    <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/lauren-kucera">linkedin.com/lauren-kucera</a>
</address>
</div>