body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://images.pexels.com/photos/1202723/pexels-photo-1202723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: oldlace;
}


.jumbotron {
    background-color: oldlace;
    margin-top: 100px;
    text-align: center;
    color: black;
}

#rating-home {
    background-color: oldlace;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
}

    #rating-home h2 {
        text-align: center;
    }

    #rating-home p {
        text-align: center;
    }

#base-home {
    background-color: oldlace;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
}

    #base-home h2 {
        text-align: center;
    }

    #base-home p {
        text-align: center;
    }
